################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VehicleServiceBooking/obj
/VehicleServiceBooking/.vs
/.vs
